@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media (min-width: 768px) { @content; }
}

@mixin desktop {
  @media (min-width: 1024px) { @content; }
}

@mixin title-style {
  font-family: var(--font-dm-serif), serif;
  font-weight: 400;
  line-height: 1.2;
}