
$deep-teal: #0b3b52 ;  
$antique-brass: #c79e5e ;
$accent-color: #e76f51;
$dark-bg: #04161f ;
$light-bg: #f7f5f0;
$complementary-color-1: #1c2755 ;
$complementary-color-2: #8e93a6  ;
// Fontes
$font-title: var(--font-dm-serif), serif;
$font-main: var(--font-montserrat), sans-serif;
$font-secondary: var(--font-quicksand), sans-serif;

