@use "../../styles/mixins" as *;

.about {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  width: 100%;
  height: 90vh;
  background-color: white;
  .text_about {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 60%;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1px;
  }
}