button {
  cursor: pointer;
}

.hover-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--gold-leaf);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease-in-out, width 0.3s ease-in-out;
  border-radius: 50px;
  margin-top: 20px;
  width: 300px;
  height: 3rem;
  margin-inline: 0;

  .icon {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .text {
    transition: transform 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  &:hover {
    background-color: var(--prussian-blue);
    width: 320px;
    height: 3rem;
    justify-content: space-between;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: white;
      font-weight: 400;
      rotate: -45deg;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      background: linear-gradient(210deg, #d9b310, #f8da53);
      opacity: 1;
      position: absolute;
      right: 2%;
      transform: translateY(0);
    }

    .text {
      transform: translateX(0%);
    }
  }
}

.button_form_full {
  background-color: var(--prussian-blue);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  width: 100%;
}

.button_form_metade {
  background-color: var(--prussian-blue);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  width: 50%;
}

.botoes_navegacao_dupla {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
} 
