label {
    font-family: var(--font-heebo);
    color: var(--ivory-black);
    font-size: .9rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--soft-blue);

    &::placeholder {
        color: var(--grey);
        font-size: .8rem;
    }
  }

  textarea {
    min-height: 100px;
  }
  
  .label_opcoes {
    color: var(--ivory-black);
    font-size: .8rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 5px;

    .checkbox {
      width: auto;
    }
  }