.section_title {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section_word {
    font-family: "Lato", Sans-serif;
    font-size: clamp(40px, 8vw, 96px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--light-grey);
    margin-bottom: 0.5rem;
    opacity: 0.5;
  }

.section_phrase {
    width: 100%;
    font-family: "Lato", Sans-serif;
    /* Tamanho responsivo: mínimo 20px, ideal 4vw, máximo 32px */
    font-size: clamp(17px, 4vw, 32px);
    font-weight: 600;
    color: var(--prussian-blue);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(
      clamp(-60%, -10vw, -50%),
      clamp(-120%, -20vw, -100%)
    );
  }

.section_heading {
    text-align: center;
    color: #6f747e;
    font-family: "Heebo", Sans-serif;
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 300;
    padding-inline: 8rem;
  }