.secao_titulo {
  width: 100%;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secao_palavra {
  font-family: var(--font-pacifico);
  font-size: 1rem;
  font-weight: 100;
  color: var(--gold-leaf);
  margin-bottom: 0.5rem;
}

.secao_frase {
  width: 100%;
  font-family: var(--font-heebo);
  font-size: 3rem;
  font-weight: 600;
  color: var(--prussian-blue);
}

.secao_heading {
  text-align: center;
  color: #6f747e;
  font-family: "Heebo", Sans-serif;
  font-size: clamp(14px, 4vw, 18px);
  font-weight: 300;
  padding-inline: 8rem;
}

.palavra_destaque {
  color: var(--gold-leaf);
}
