@use "../../styles/index" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background: transparent;
  transition:
    transform 0.4s ease-in-out,
    background-color 0.4s ease-in-out,
    height 0.4s ease-in-out;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  &.scrolled {
    background-color: #ffffff;
    height: 80px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }

  .container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    @include flex-center;
    justify-content: space-between;
  }

  .logo {
    cursor: pointer;
    height: 100%;
    object-fit: contain;
    img {
      object-fit: contain;
      height: 100%;
    }
  }

  .menuButton {
    width: 50px;
    height: 50px;
    background: none; // O "quadrado" que você mencionou
    border: none;
    cursor: pointer;
    @include flex-center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    .hamburger {
      width: 25px;
      height: 2px;
      background: #fff;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background: #fff;
        left: 0;
      }

      &::before {
        top: -8px;
      }
      &::after {
        bottom: -8px;
      }
    }

    .dark_hamburger {
      width: 25px;
      height: 2px;
      background: $dark-bg;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background: $dark-bg;
        left: 0;
      }

      &::before {
        top: -8px;
      }
      &::after {
        bottom: -8px;
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: -100%; // Começa fora da tela (à esquerda)
  width: 100%;
  height: 100vh;
  background: white; // Um fundo escuro sofisticado
  z-index: 200;
  transition: left 0.6s cubic-bezier(0.77, 0, 0.175, 1); // Movimento suave
  display: flex;
  flex-direction: column;
  justify-content:last baseline;
  align-items: flex-start;
  padding-inline: 10%;

  &.navOpen {
    left: 0; // Quando aberto, ele desliza para a posição 0
  }

  .navLogo {
    width: 150px;
  }

  .closeButton {
    position: absolute;
    top: 30px;
    right: 40px;
    background: transparent;
    border: none;
    color: $dark-bg;
    font-size: 2rem;
    cursor: pointer;
  }

  .menuList {
    width: 100%;
    text-align: left;
    @include title-style;
    color: $dark-bg;

    li {
      margin: 20px 0;
      overflow: hidden;
      list-style: none;
      list-style-type: none;
      cursor: pointer;
      text-decoration: none;

      a {
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 4px;
        font-weight: 500;

        &:visited {
        color: inherit; // Evita que o link fique roxo após ser clicado
      }
      }
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $dark-bg;
      opacity: .5;
    }
  }

  .contact_list {
    width: 100%;
    list-style: none;
    text-align: left;
    display: flex;
    gap: 10px;

    li {
      overflow: hidden;

      a {
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 4px;
        font-weight: 500 !important;
        @include title-style;

        &:hover {
          text-decoration: underline;
        }

        .contact_icon {
          font-size: 22px;
        }
      }
    }
  }
}
