@import url(../../styles/animations.scss);

#iconics_paris_london {
  background-image: url("../../assets/imgs/Iconics/londres.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_buenos_aires {
  background-image: url("../../assets/imgs/Iconics/buenos_aires.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_atacama {
  background-image: url("../../assets/imgs/Iconics/atacama.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_san_andres {
  background-image: url("../../assets/imgs/Iconics/san_andres.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_portugal {
  background-image: url("../../assets/imgs/Iconics/portugal.jpg");
  background-size: cover;
  background-position: center;
}


#iconics_italia {
  background-image: url("../../assets/imgs/Iconics/italia.jpg");
  background-size: cover;
  background-position: center;
}

.top_section {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/imgs/home_background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-lato);
  position: sticky;
  top: 0;
  z-index: 1;
  > p {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 300;
  }

  > strong {
    font-weight: 800;
    font-size: 12rem;
    margin: -30px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.highlights_section {
  height: 150vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
  background-color: white;

  .highlights_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    padding: 2%;
    height: 90vh;
    box-sizing: border-box;
    
  }

  .highlights_grid_item {
    display: flex;
    flex-direction: column;
    gap: 2%;
    max-height: 90vh;
    box-sizing: border-box;
  }

  .highlights_grid_card {
    height: 33%;
    background-color: #ecc93d;
    border-radius: 20px;
    padding-inline: 6%;
    padding-block: 4%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
    margin: 0;
    max-height: 29%;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .highlights_grid_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    background: linear-gradient(45deg, #ecc424, #f0d97f);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: clamp(20px, 2vw, 20px);
  }

  .highlights_grid_title {
    font-family: "Lato", sans-serif;
    font-size: clamp(16px, 2vw, 1.25rem);
    font-weight: 700;
    margin: 0;
    margin-bottom: 2%;
    color: white;
  }

  .highlights_grid_description {
    color: white;
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0.8rem;
  }

  .highlights_grid_image {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 66%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s; /* Aplica a animação de entrada */
  }
}

.iconics_section {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8FAFF;

  .iconics_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    padding: 2%;
    height: 200vh;
    box-sizing: border-box;
  }

  .iconics_grid_column {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 100%;
    box-sizing: border-box;
  }

  .iconics_grid_card_one {
    min-height: 55%;
    border-radius: 20px;
    padding-inline: 6%;
    padding-block: 4%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
    margin: 0;
    max-height: 29%;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      z-index: 1;
      border-radius: 20px;
    }
    > * {
      position: relative;
      z-index: 2;
    }
  }

  .iconics_grid_card_two {
    min-height: 45%;
    background-color: blue;
    border-radius: 20px;
    padding-inline: 6%;
    padding-block: 4%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
    margin: 0;
    max-height: 29%;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      z-index: 1;
      border-radius: 20px;
    }
    > * {
      position: relative;
      z-index: 2;
    }
  }

  .iconics_grid_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--gold-leaf);
    font-size: clamp(24px, 1vw, 24px);
    position: absolute;
    top: 4%;
    right: 4%;
    rotate: -45deg;
  }

  .iconics_grid_title {
    font-family: "Lato", sans-serif;
    font-size: clamp(16px, 2vw, 1.25rem);
    font-weight: 700;
    margin: 0;
    margin-bottom: 2%;
    color: white;
  }

  .iconics_grid_description {
    color: white;
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0.8rem;
  }
}
