

#iconics_paris_london {
  background-image: url("../../assets/imgs/Iconics/londres.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_buenos_aires {
  background-image: url("../../assets/imgs/Iconics/buenos_aires.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_atacama {
  background-image: url("../../assets/imgs/Iconics/atacama.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_san_andres {
  background-image: url("../../assets/imgs/Iconics/san_andres.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_portugal {
  background-image: url("../../assets/imgs/Iconics/portugal.jpg");
  background-size: cover;
  background-position: center;
}

#iconics_italia {
  background-image: url("../../assets/imgs/Iconics/italia.jpg");
  background-size: cover;
  background-position: center;
}

.carousel_section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8faff;

  .carousel_text {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding-inline: 6%;
    box-sizing: border-box;
    align-items: flex-end !important;
    justify-content: flex-start;
  }

  .carousel_div {
    width: 70%;
  }
}