.footer {
  background-color: var(--prussian-blue);
  color: white;
  padding: 80px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(".../../../../assets/imgs/Backgrounds/background_footer.jpg");
  background-size: cover;

  .linksContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    column-gap: 80px;
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    align-items: start;
    font-weight: 200;

    .coluna_footer {
      width: 25%;
    }

    .logo_footer {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0;
      width: 100%;
    }

    .titulo_footer {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;

        a {
          color: white;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: var(--gold-leaf); // Cor de destaque ao passar o mouse
          }
        }
      }
    }

    .footer_li_contato {
      display: flex;
      gap: 10px;
      align-items: center;

      > svg {
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }

  .div_qrcode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1rem;

    img {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.info_legal {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 200;
}
